/Users/bka14/Unity/Draughts/Library/**
/Users/bka14/Draughts/Assets/Scripts/PlayerPiece.cs.meta
/Users/bka14/Draughts/Assets/Scripts/CameraTest2.cs
/Users/bka14/Draughts/Assets/Scripts/CameraTest2.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV2.cs
/Users/bka14/Draughts/Assets/Scripts/Controller12.cs
/Users/bka14/Draughts/Assets/Scripts/ControllerV2.cs.meta
/Users/bka14/Draughts/Assets/Scripts/Controller12.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV3.cs
/Users/bka14/Draughts/Assets/Scripts/Controller13.cs
/Users/bka14/Draughts/Assets/Scripts/ControllerV3.cs.meta
/Users/bka14/Draughts/Assets/Scripts/Controller13.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV4.cs
/Users/bka14/Draughts/Assets/Scripts/Controller14.cs
/Users/bka14/Draughts/Assets/Scripts/ControllerV4.cs.meta
/Users/bka14/Draughts/Assets/Scripts/Controller14.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV5.cs
/Users/bka14/Draughts/Assets/Scripts/Controller15.cs
/Users/bka14/Draughts/Assets/Scripts/ControllerV5.cs.meta
/Users/bka14/Draughts/Assets/Scripts/Controller15.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV10.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV11.cs
/Users/bka14/Draughts/Assets/Scripts/ControllerV11.cs.meta
/Users/bka14/Draughts/Assets/Scripts/ControllerV12.cs
/Draughts/Temp/
/Library/metadata/
